@font-face {
    font-family: 'gagalin';
    src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lifehack';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    line-height: 1.42;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.section {
    height: 100vh;
}

.wrapper {
    background-image: url(../img/bg/greeting.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.header {
    display: inline-block;
}

.header__logo {
    display: inline-block;
    width: 95px;
    height: 73px;
    background-image: url(../img/logo/logo.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 180px;
}

.menu {
    display: inline-block;
}

.menu__list {
    display: inline-block;
    list-style: none;
}

.menu__item {
    display: inline-block;
    margin-right: 10px;
}

.menu__item:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    margin-left: 14px;
}

.menu__item:last-child:after {
    display: none;
}

.menu__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
}

.button {
    display: inline-block;
}

.button__link {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(228, 80, 40);
    width: 97px;
    height: 35px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
}

.button__link:hover {
    background-color: #c1401e;
}

.sidebar {
    width: 10%;
    float: right;
}

.navigation__list {
    list-style: none;
    padding-right: 50px;
    position: fixed;
    top: 12%;
    right: 19%;
}

.navigation__list-link {
    position: relative;
}

.navigation__list-item {
    margin-bottom: 4px;
}

.navigation__list-link:after {
    content: "";
    display: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: -6px;
}

.navigation__list-link:hover:after {
    display: block;
}

.greeting__content-picture {
    background-image: url(../img/bg/drops.png);
    background-repeat: no-repeat;
    width: 456px;
    height: 418px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: -9px;
}

.greeting__content-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-top: 89px;
    margin-left: 9px;
}

.greeting__content-title_orange {
    font-family: 'gagalin';
    font-size: 72px;
    color: #f9b43b;
    margin-bottom: 14px;
}

.greeting__content-title_white {
    font-family: 'lifehack';
    font-size: 65px;
    color: #ffffff;
}

.arrow {
    background-image: url(../img/icons/arrow-scroll.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 25px;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0%;
}

.about__container {
    background-image: url(../img/bg/about.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.about__header {
    font-family: 'gagalin';
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    color: #2f3234;
    margin-top: 0;
    padding-top: 79px;
}

.about__description-info {
    width: 300px;
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    margin-left: 77px;
}

.about__description-pic {
    width: 200px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}

.about__description-title {
    font-family: 'lifehack';
    font-size: 24px;
    color: #2f3234;
    margin-top: 25px;
    margin-bottom: 25px;
}

.about__description-text {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 14px;
    color: #848281;
}

.feedback__container {
    font-size: 0;
}

.feedback__block {
    display: inline-block;
    width: 25%;
    position: relative;
}

.feedback__photo {
    width: 100%;
    height: 320px;
    filter: grayscale(100%);
    opacity: 1;
}

.feedback__text {
    position: absolute;
    width: 100%;
    height: 320px;
    background-color: rgba(0, 0, 0, .5);
    top: 0%;
    left: 0%;
    color: #ffffff;
    opacity: 0;
}

.feedback__text-wrapper {
    width: 230px;
    margin-left: 20px;
    margin-top: 44px;
    line-height: 1.6;
}

.feedback__name {
    font-size: 14px;
    font-family: 'gagalin';
    margin-bottom: 17px;
}

.feedback__comment {
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 300;
    margin-bottom: 23px;
}

.feedback__link {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Ubuntu';
    font-weight: 500;
    background-color: #2f3234;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    padding: 6px 13px;
    text-align: center;
    vertical-align: middle;
}

.feedback__link:hover {
    background-color: #1f2122;
}

.feedback__block:hover .feedback__text {
    opacity: 1;
}

.feedback__photo-one {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 36% 48%;
}

.feedback__photo-two {
    background-position: 56% 27%;
    background-repeat: no-repeat;
}

.feedback__photo-three {
    background-position: 55% 18%;
    background-repeat: no-repeat;
}

.feedback__photo-four {
    background-position: 98% 36%;
    background-repeat: no-repeat;
}

.feedback__photo-five {
    background-position: 3% 1%;
    background-repeat: no-repeat;
}

.feedback__photo-six {
    background-position: 71% 0%;
    background-repeat: no-repeat;
}

.feedback__photo-seven {
    background-position: 36% 48%;
    background-repeat: no-repeat;
}

.feedback__photo-eight {
    background-position: 100% 32%;
    background-repeat: no-repeat;
}